@charset "UTF-8";

*:focus {
    outline-style: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: #0d6efd;
}

@media (max-width: 950px) {

}
